<html>
    <body>
      <div class="navbar">
        <a class="active" href="../">Home</a>
        <a href="../shortstory_db/profile">Profile</a>
        <a href="../shortstory_db/logout">Logout</a>
      </div>
        <center>
                <form action="../create_Prompt" method="POST">

                  <h3>Create Prompt</h3>
                  Prompt:<br>
                  <input type="text" name="prompt"><br>

                  Genre:<br>
                  <input type="text" name="genre"><br>

                  <input type="submit" value="Submit"><br>

                  <h2><a href="../">Back to Home </a></h2>

                </form>
          <center>
      </body>
</html>
