<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/frontPage.css') }}">
  </head>

    <body>
      <div class="navbar">
        <div class="nav-links">
            <ul>
                <li><a href="../">Home</a></li>
                <li><a href="../shortstory_db/profile">Profile</a></li>
                <li><a href="../shortstory_db/logout">Logout</a></li>
            <ul>
          </div>
      </div>
        <center>
          <br>
          <br>
        <font size="+3"><b>Short Story Maker</b></font>
            <br>
            <br>
            <br>
            <a href="../shortstory_db/profile">Profile Page</a>
            <br>
            <br>
            <br>
            <a href="../shortstory_db/leaderboards">Leaderboards</a>
            <br>
            <br>
            <br>
            <a href="../createPrompt">Create a Prompt</a>
            <br>
            <br>
            <br>
            <a href="../voting">Cast a Vote</a>
            <br>
            <br>
            <br>
            <a href="../shortstory_db/browse">Browse Stories</a>
            <br>
            <br>
            <br>
            <a href="../login">Login</a>
            <br>
            <br>
            <br>
            <a href="../shortstory_db/logout">Logout</a>
            <br>
            <br>
            <br>
            <a href="../createAccount">Create an Account</a>
            <br>
            <br>
            <br>
            <a href="../adminPanel">Moderation</a>
        </center>
    </body>
</html>
