<html>
    <body>
      <div class="navbar">
        <a class="active" href="../..">Home</a>
        <a href="../shortstory_db/profile">Profile</a>
        <a href="../shortstory_db/logout">Logout</a>
      </div>
        <center>
            <p>{{ msg }}</p>
            <br>
                <form action="../shortstory_db/support" method="POST">

                  <h3>Become a Supporter!</h3>
                  yes or no:<br>
                  <input type="text" name="supportAns"><br>

                  <input type="submit" value="Submit"><br>

                  <h2><a href="../..">Back to Home </a></h2>

                </form>
          <center>
      </body>
</html>