<html>
    <body>
      <div class="navbar">
        <a class="active" href="../">Home</a>
        <a href="../shortstory_db/profile">Profile</a>
        <a href="../shortstory_db/logout">Logout</a>
      </div>
        <center>
                <form action="../create_Account" method="POST">

                  <h3>Create Account</h3>
                  Username:<br>
                  <input type="text" name="username"><br>

                  Password:<br>
                  <input type="password" name="password"><br>

                  <input type="submit" value="Submit"><br>

                  <h2><a href="../">Back to Home </a></h2>

                </form>
          <center>
      </body>
</html>
